.profile_container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background: rgb(0,112,186);
  background: linear-gradient(121deg, rgba(0,112,186,1) 0%, rgba(21,70,160,1) 100%);
  color: white;
  border-bottom-right-radius: 40px;
  padding-top: 3vh;
  box-sizing: border-box;
  box-shadow: 0px 16px 36px -16px rgba(21, 70, 160, 0.5);
}

.profile_header {
  margin: 10px;
  font-size: 5vw;
  width: 80vw;
  display: flex;
  align-items: center;
  position: relative;
  color: white;
  font-weight: 700;
}

.profile_header img {
  position: absolute;
  right: 0;

}

.profilePhoto{
  width:25vw;
  height:auto;
  border-radius:50vw;
  border: 2px solid white
}

.profile_header--info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1vh;
}

.profile_header--info h3{
 font-size: 20px;
 color:var(--blue-shine)
}

.profile_header--info span {
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 10px;
}


.profile_header--info span h4 {
  margin: 0 2vw
}