.profile_container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background: rgb(0,112,186);
  background: linear-gradient(121deg, rgba(0,112,186,1) 0%, rgba(21,70,160,1) 100%);
  color: white;
  position: relative;
  padding: 2vh 0;
  box-sizing: border-box;

 
}

.profile_header {
  margin: 10px;
  font-size: 5vw;
  width: 80vw;
  display: flex;
  align-items: center;
  position: relative;
  color: white;
  font-weight: 700;
}

.profile_header img {
  position: absolute;
  right: 0;

}

.profilePhoto{
  width:28vw;
  height:auto;
  border-radius:50vw;
  margin-bottom: 2vh;
  border: 2px solid white
}

.profile_header--info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1vh;
}

.profile_header--info h3{
  font-size: 20px;
  margin: inherit;
  color: var(--blue-shine);
}

.profile_header--info span {
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 10px;
}


.profile_header--info span h4 {
  margin: 0 2vw
}

.profile_header--info button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 6vh;
  width: 43vw;
  border-radius: 2vw;
  background: var(--green);
  position: absolute;
  font-size: 16px;
  bottom: -2.5vh;
  color: var(--text-dark);
  border: 2px solid var(--gray-light);
}

.pagos-list_container{
  margin: 0 0 15vh 0;
}
.pagos-list_container ul{
display: flex;
padding: inherit;
margin: auto;
flex-direction: column;
align-items: center;
width: 80vw;
position: relative;
    top: 5vh;
}

.pagos-list_container ul li{
  display: flex;
    padding: inherit;
    margin-bottom: 3vh;
    height: 100px;
    border-radius: 15px;
    background: white;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

.pagos-list_info-pago div{
display: flex;
}
.pagos-list_info-pago div h3{
  margin: 0;
  font-weight: 600;
    margin: 0 10px;
    color: var(--blue-dark);
  }
.pagos-list_info-pago h4{
    margin: 0px 0 5px 0; 
    font-size: 18px;
}

.pagos-list_info-pago h4 span{
  font-weight: 400;
}

.pagos-list_container button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--blue-dark);
  padding: 5px;
  box-sizing: border-box;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: inherit;
  border-radius: 8px;
  cursor: pointer;
  
}

.pagos-list_container button img {
width: 7vw;
  
}

  
