.delegado-home_hero{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background: rgb(0,112,186);
  background: linear-gradient(121deg, rgba(0,112,186,1) 0%, rgba(21,70,160,1) 100%);
  color: white;
  position: relative;
  padding: 2vh 0;
  box-sizing: border-box;
  box-shadow: 0px 16px 36px -16px rgba(21, 70, 160, 0.5);
}
.delegado-home_hero--header {
  margin: 10px;
  font-size: 5vw;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--blue-shine);
  font-weight: 700;
}

.delegado-home_hero--header img {
  position: absolute;
  left: 0;
}

.delegado-home_hero h2 {
  font-size: 9vw;
  margin: 10px 0;
}

.delegado-home_hero--subtitle{
display: flex;
color: var(--blue-shine);
width: 50vw;
font-size: 5vw;
justify-content: space-between;
}

.delegado-home_hero--subtitle h4 {
  margin: none;
}

.delegado-home__buscador--container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.delegado-home__buscador--container > img {
  position: absolute;
  right: 4vw;
  top: 2.5vh;
 
}

.delegado-home_hero input {
  width: 80vw;
  height: 7vh;
  border: none;
  border-radius: 15px;
  margin-bottom: 5.5vh;
  outline: none;
  font-size: 18px;
  min-height: 50px;
  padding-left: 3vw;
  box-sizing: border-box;
  color: #5c6971;
}






.representante-list_card{
  width: 80vw;
  height: 9vh;
  border: none;
  border-radius: 15px;
  margin-bottom: 3vh;
  outline: none;
  padding-left: 3vw;
  box-sizing: border-box;
  background: white;
}

.representante-list_container{
  padding: 2vh 0 4vh 0;
}
.representante-list_container ul {
  padding: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.representante-list_container ul li{
  display: flex;
  justify-content: space-between;
  width: 80vw;
  height: 9vh;
  border: none;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 3vh;
  outline: none;
  padding-left: 3vw;
  box-sizing: border-box;
  background: white;
 
}

.representante-list_container li h3 {
  font-size: 16px;
}

.delegado-home_hero button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 6vh;
  width: 43vw;
  border-radius: 2vw;
  background: var(--green);
  position: absolute;
  font-size: 16px;
  bottom: -2.5vh;
  color: var(--text-dark);
  border: 2px solid var(--gray-light);
}